
@import './variables.scss';
@import 'libs/normalize';
@import 'components/all';
@import 'page/all';
*{
  margin: 0;
  padding: 0;
}
html, body {
  background-color: rgb(52, 56, 61);;
  color: black;
}
.wrapper{
  display: flex;
  align-items: center;
  justify-content:center;
  height: 100vh;
  margin: 0px auto;
}
.app{
  min-width: 100%;
}
.app--title{
  text-align: center;
  margin-bottom: 60px;
  font-size: 48px;
  @media(max-width:610px){
    font-size: 36px;
  }
  @media(max-width:420px){
    font-size: 32px;
  }
}

.app--menu{
  height: 315px;
  display: flex;
  justify-content:space-around;
  margin: 0 20px;
  @media(max-width:610px){
    height: 240px;
  }
  @media(max-width:420px){
    height: 150px;
  }
  &__user{
    position: relative;
    height: 255px;
      @media(max-width:610px){
        width: 150px;
      }
      @media(max-width:420px){
        width: 100px;
        height: 150px;
      }
    & img{
      max-width: 100%;
      &:hover{
        cursor: pointer;
        transition: all 0.2s ease-in;
        transform: scale(1.1);
      }
    }
    & h3{
      position: absolute;
      bottom: -40px;
      left: 15px;
      font-size: 24px;
      @media(max-width:610px){
        bottom: 10px;
        font-size: 18px;
        left: 10px;
      }
      @media(max-width:420px){
        left: 7px;
        font-size: 12px;
      }
    }
  }
  &__admin{
    position: relative;
    height: 255px;
    @media(max-width:610px){
      width: 150px;
    }
    @media(max-width:420px){
      width: 100px;
      height: 150px;
    }
    & img{
      max-width: 100%;
      
      &:hover{
        cursor: pointer;
        transition: all 0.2s ease-in;
        transform: scale(1.1);
      }
    }
    & h3{
      position: absolute;
      bottom: -40px;
      left: 7px;
      font-size: 24px;
      @media(max-width:610px){
        font-size: 18px;
        left: 7px;
        bottom: 10px;
      }
      @media(max-width:420px){
        left: 0px;
        font-size: 12px;
      }
    }
  }
}






